[submodule "third-party/array-hash"]
	path = third-party/array-hash
	url = https://github.com/Tessil/array-hash.git
[submodule "third-party/PEGTL"]
	path = third-party/PEGTL
	url = https://github.com/taocpp/PEGTL.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/hat-trie"]
	path = third-party/hat-trie
	url = https://github.com/Tessil/hat-trie.git
