[submodule "third-party/array-hash"]
	path = third-party/array-hash
	url = https://github.com/Tessil/array-hash.git
[submodule "third-party/PEGTL"]
	path = third-party/PEGTL
	url = https://github.com/taocpp/PEGTL.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/hat-trie"]
	path = third-party/hat-trie
	url = https://github.com/Tessil/hat-trie.git
[submodule "third-party/hopscotch-map"]
	path = third-party/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "third-party/icu-cmake"]
	path = third-party/icu-cmake
	url = https://github.com/viaduck/icu-cmake.git
[submodule "third-party/utf8_encode"]
	path = third-party/utf8_encode
	url = https://gist.github.com/MightyPork/52eda3e5677b4b03524e40c9f0ab1da5
[submodule "third-party/asio"]
	path = third-party/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "third-party/config"]
	path = third-party/config
	url = https://github.com/boostorg/config.git
